<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'side'"
     >
    <mat-nav-list>
      <a mat-list-item routerLink="/noticias"><mat-icon class="icon" aria-label="download icon">file_download</mat-icon>Obtener noticias</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar fxLayout="row" color="primary">
      <button
        fxFlex="3"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span fxFlex="80" fxFlexOffset="2">Noticias</span>
      <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <mat-icon class="thumbs" fxFlex="10">thumb_up</mat-icon>
        <div fxFlex="80" fxFlexOffset="4">Totales: {{totalLikes}}</div>
        
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
